*{
    overflow-x: hidden;
}
body {
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.616), rgba(0, 204, 187, 0.651));
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 30px;
    overflow-x: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;
}
a{
    text-decoration: none;
    text-align: center;
}
.create{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 21px;
    flex-wrap: wrap;
}
span{
    color: #4CAF50;
    text-decoration: underline;
}
.container {
    background-color: rgba(255, 255, 255, 0.384);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
.search{
    display: flex;
    justify-content: center;
    gap: 5%; }
.erresult{
    color: red;
}
.search i{
    font-size: 19px;
}
@keyframes move {
    0%{
        transform: rotate(25deg);
    }
    50%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(25deg);
    }
}
h1 {
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: ;
}
h1 i{
    font-size: 25px;
}
i{
    color: #fff;
}
input {
    width: 70%;
    padding: 10px; 
    border-radius: 10px;
    border: 2px solid #45a049;
    outline: none;
}

button {
    padding: 10px;
    width: 15%;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px; 
}
.text{
    text-align: center;
}
@media (max-width: 768px) {
    .container{
        width: 75%;
    }
    .container h1{
        font-size: 16px;
    }
}
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode button {
    background-color: #fff;
    color: #4CAF50;
}
body.dark-mode button i{
    color: #ffc917;
}
body.dark-mode button:hover {
    background-color: #fff;

}
body.dark-mode i, body.dark-mode span{
    color: #ffc917;
}
body.dark-mode input{
    border: 1px solid #ffc917;
    outline: 2px solid #ffc917;
}
iframe{
    width: 80%;
    height: fit-conntent;
    display: flex;
}
